@model IEnumerable<FinancialSystem.Models.InvoiceViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@foreach (var invoice in Model)
{
    <tr>
        <td>@invoice.PayerName</td>
        <td>@invoice.InvoiceNumber</td>
        <td>@invoice.IssuanceDate.ToString("dd/MM/yyyy")</td>
        <td>@(invoice.BillingDate?.ToString("dd/MM/yyyy") ?? "-")</td>
        <td>@(invoice.PaymentDate?.ToString("dd/MM/yyyy") ?? "-")</td>
        <td>@invoice.Amount.ToString("C")</td>
        <td>@invoice.InvoiceDocument</td>
        <td>@invoice.BankSlipDocument</td>
        <td>@Localizer[invoice.Status]</td>
    </tr>
}
