@model IEnumerable<FinancialSystem.Models.InvoiceViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Título";
}

<form id="filterForm">
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="monthIssuanceFilter">Filtrar por Mês de Emissão</label>
            <select id="monthIssuanceFilter" class="form-control">
                <option value="">Todos</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="monthBillingFilter">Filtrar por Mês de Cobrança</label>
            <select id="monthBillingFilter" class="form-control">
                <option value="">Todos</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="monthPaymentFilter">Filtrar por Mês de Pagamento</label>
            <select id="monthPaymentFilter" class="form-control">
                <option value="">Todos</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="statusFilter">Filtrar por Status</label>
            <select id="statusFilter" class="form-control">
                <option value="">Todos</option>
                <option value="1">Emitido</option>
                <option value="2">Cobrança Completa</option>
                <option value="3">Pagamento Atrasado</option>
                <option value="4">Pagamento Completo</option>
            </select>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table id="invoiceTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nome do Pagador</th>
                <th>Número da Nota Fiscal</th>
                <th>Data de Emissão</th>
                <th>Data de Cobrança</th>
                <th>Data de Pagamento</th>
                <th>Valor</th>
                <th>Documento da Nota Fiscal</th>
                <th>Documento do Boleto Bancário</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="custom-scroll">
            @foreach (var invoice in Model)
            {
                <tr>
                    <td>@invoice.PayerName</td>
                    <td>@invoice.InvoiceNumber</td>
                    <td>@invoice.IssuanceDate.ToString("dd/MM/yyyy")</td>
                    <td>@(invoice.BillingDate?.ToString("dd/MM/yyyy") ?? "-")</td>
                    <td>@(invoice.PaymentDate?.ToString("dd/MM/yyyy") ?? "-")</td>
                    <td>@invoice.Amount.ToString("C")</td>
                    <td>@invoice.InvoiceDocument</td>
                    <td>@invoice.BankSlipDocument</td>
                    <td>@Localizer[invoice.Status.ToString()]</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table tbody tr {
        background-color: white;
    }

        .table tbody tr:hover {
            background-color: #e3e3e3;
        }
</style>

@section Scripts {
    <script src="~/js/home.js"></script>
}
